#superpuesto {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgb(200,200,198);
}

#splash {
    --background: none;
    background: url("../../resources/splash.png") no-repeat center / cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo1 {
    position: absolute;
    width: 35%;
    height: auto;
    top: 40%;
    left: 33%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 1s;
}

#logo2 {
    position: absolute;
    width: 35%;
    height: auto;
    top: 40%;
    left: 33%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 1s;
    animation-delay: .4s;
}

#logo3 {
    position: absolute;
    width: 35%;
    height: auto;
    top: 40%;
    left: 33%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 1s;
    animation-delay: .8s;
}

#logo4 {
    position: absolute;
    width: 35%;
    height: auto;
    top: 40%;
    left: 33%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 1s;
    animation-delay: 1.2s;
}

#logo5 {
    position: absolute;
    width: 35%;
    height: auto;
    top: 40%;
    left: 33%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 1s;
    animation-delay: 1.6s;
}

#logo6 {
    position: absolute;
    width: 35%;
    height: auto;
    top: 40%;
    left: 33%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 1s;
    animation-delay: 2s;
}

#logo7 {
    position: absolute;
    width: 35%;
    height: auto;
    top: 40%;
    left: 33%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 1s;
    animation-delay: 2.4s;
}

@keyframes logoSplash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}