<ion-app>
  <!-- <div id="superpuesto" [style.display]="splash ? 'flex' : 'none'"> -->
  <div id="superpuesto" *ngIf="splash && !estaLogueado()">
    <div id="splash">
      <img src="../assets/logos/moneda1.png" alt="logo" id="logo1">
      <img src="../assets/logos/moneda2.png" alt="logo" id="logo2">
      <img src="../assets/logos/moneda3.png" alt="logo" id="logo3">
      <img src="../assets/logos/moneda4.png" alt="logo" id="logo4">
      <img src="../assets/logos/moneda3.png" alt="logo" id="logo5">
      <img src="../assets/logos/moneda2.png" alt="logo" id="logo6">
      <img src="../assets/logos/moneda1.png" alt="logo" id="logo7">
    </div>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
