<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn1">
        <ion-img *ngIf="getTema()==='numeros'" src="../../../assets/numeros/uno.png"></ion-img>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn2">
        <ion-img *ngIf="getTema()==='numeros'" src="../../../assets/numeros/dos.png"></ion-img>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn3">
        <ion-img *ngIf="getTema()==='numeros'" src="../../../assets/numeros/tres.png"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn4">
        <ion-img *ngIf="getTema()==='numeros'" src="../../../assets/numeros/cuatro.png"></ion-img>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn5">
        <ion-img *ngIf="getTema()==='numeros'" src="../../../assets/numeros/cinco.png"></ion-img>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn6">
        <ion-img *ngIf="getTema()==='numeros'" src="../../../assets/numeros/seis.png"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn7">
        <ion-img *ngIf="getTema()==='numeros'" src="../../../assets/numeros/siete.png"></ion-img>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn8">
        <ion-img *ngIf="getTema()==='numeros'" src="../../../assets/numeros/ocho.png"></ion-img>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn9">
        <ion-img *ngIf="getTema()==='numeros'" src="../../../assets/numeros/nueve.png"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="medium">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="setTema('numeros')">
        <ion-img src="../../../assets/numeros.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="setTema('animales')">
        <ion-img src="../../../assets/animales/gato.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="setTema('colores')">
        <ion-img src="../../../assets/color-palette-psd-icon.png"></ion-img>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="medium">
      <ion-icon name="flag"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="setIdioma('español')">
        <ion-img src="../../../assets/banderas/arg.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="setIdioma('portugues')">
        <ion-img src="../../../assets/banderas/bra.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="setIdioma('ingles')">
        <ion-img src="../../../assets/banderas/ing.png"></ion-img>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-grid>
