<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn1">
        <!-- <ion-img src="../../../assets/emoji-feliz.png"></ion-img> -->
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn2">
        <!-- <ion-img src="../../../assets/emoji-triste.png"></ion-img> -->
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn3">
        <!-- <ion-img src="../../../assets/emoji-triste.png"></ion-img> -->
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn4">
        <!-- <ion-img src="../../../assets/emoji-triste.png"></ion-img> -->
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn5">
        <!-- <ion-img src="../../../assets/emoji-triste.png"></ion-img> -->
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn6">
        <!-- <ion-img src="../../../assets/emoji-triste.png"></ion-img> -->
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn7">
        <!-- <ion-img src="../../../assets/emoji-triste.png"></ion-img> -->
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn8">
        <!-- <ion-img src="../../../assets/emoji-triste.png"></ion-img> -->
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill='solid' id="btn9">
        <!-- <ion-img src="../../../assets/emoji-triste.png"></ion-img> -->
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="medium">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-img src="../../../assets/color-palette-psd-icon.png"></ion-img></ion-fab-button>
      <ion-fab-button><ion-img src="../../../assets/numeros.png"></ion-img></ion-fab-button>
      <ion-fab-button><ion-img src="../../../assets/animales/gato.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="medium">
      <ion-icon name="flag"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-img src="../../../assets/banderas/arg.png"></ion-img></ion-fab-button>
      <ion-fab-button><ion-img src="../../../assets/banderas/bra.png"></ion-img></ion-fab-button>
      <ion-fab-button><ion-img src="../../../assets/banderas/ing.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-grid>
