#superpuesto {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgb(128,255,255);
}

#splash {
    --background: none;
    background: url("../../resources/splash.png") no-repeat center / cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo1 {
    position: absolute;
    width: 45%;
    height: auto;
    top: -2%;
    left: 27%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 3s;
}

#logo2 {
    position: absolute;
    width: 45%;
    height: auto;
    top: 77%;
    left: 32%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 3s;
    animation-delay: 1.5s;
}

#logo3 {
    position: absolute;
    width: 45%;
    height: auto;
    top: -2%;
    left: 27%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 3s;
    animation-delay: 3s;
}

#logo4 {
    position: absolute;
    width: 45%;
    height: auto;
    top: 77%;
    left: 32%;
    opacity: 0;
    animation-name: logoSplash;
    animation-duration: 3s;
    animation-delay: 4.5s;
}

@keyframes logoSplash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}