#superpuesto {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgb(28, 28, 58);
}

#splash {
    --background: none;
    background: url("../../resources/splash.png") no-repeat center / cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    position: absolute;
    width: 35%;
    top: 40%;
    left: 32%;
    animation-name: logoSplash;
    animation-duration: 12s;
}