<!-- <ion-checkbox (click)="filtro()" color="primary"></ion-checkbox>
<ion-label>Sólo mis fotos</ion-label> -->

<div *ngIf="!muestraGrafico">
  <div *ngFor="let foto of listaFotosUsuario | slice:idxFoto:idxFoto+1">
    <app-card [listaUsuarios]="listaUsuarios" [foto]="foto" [tipoImagenes]="tipoImagenes" (votarEvent)="votar($event)"></app-card>
  </div>
  
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button [color]="filtroUsuario ? 'dark' : 'light'" (click)="filtro()">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button color="secondary" (click)="tomarFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="success" (click)="grafico(true)">
      <ion-icon *ngIf="tipoGrafico === 'TORTA'" name="pie-chart"></ion-icon>
      <ion-icon *ngIf="tipoGrafico === 'BARRA'" name="bar-chart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div *ngIf="muestraGrafico">
  <app-grafico-barra *ngIf="tipoGrafico === 'BARRA'" [listaFotos]="listaFotosUsuario" [listaUsuarios]="listaUsuarios" (cerrarEvent)="grafico(false)" (elegirEvent)="elegir($event)"></app-grafico-barra>
  <app-grafico-torta *ngIf="tipoGrafico === 'TORTA'" [listaFotos]="listaFotosUsuario" [listaUsuarios]="listaUsuarios" (cerrarEvent)="grafico(false)"></app-grafico-torta>
</div>
