<!-- <ion-checkbox (click)="filtro()" color="primary"></ion-checkbox>
<ion-label>Sólo mis fotos</ion-label> -->

<div *ngIf="!muestraGrafico">
  <ion-card *ngFor="let foto of listaFotosUsuario | slice:idxFoto:idxFoto+1">
    <ion-card-header>
      <ion-card-subtitle>
        Autor: {{ getNombreUsuario(foto.usuario) }}
        <ion-button class="votar" size="small" shape="round" fill="clear" (click)="votar(foto.uid)">
          <ion-icon *ngIf="!getVotada(foto.uid)" name="heart-outline"></ion-icon>
          <ion-icon *ngIf="getVotada(foto.uid)" name="heart"></ion-icon>
          <ion-badge>{{ getCantidadVotos(foto.uid) }}</ion-badge>
        </ion-button>
      </ion-card-subtitle>
      <ion-card-subtitle>Fecha: {{ foto.fecha | date : "dd/MM/yyyy HH:mm:ss" }}</ion-card-subtitle>
    </ion-card-header>
    <ion-img src="{{ foto.url }}"></ion-img>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button [color]="filtroUsuario ? 'dark' : 'light'" (click)="filtro()">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button color="secondary" (click)="tomarFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="success" (click)="grafico(true)">
      <ion-icon *ngIf="tipoGrafico === 'TORTA'" name="pie-chart"></ion-icon>
      <ion-icon *ngIf="tipoGrafico === 'BARRA'" name="bar-chart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div *ngIf="muestraGrafico">
  <app-grafico-barra *ngIf="tipoGrafico === 'BARRA'" [listaFotos]="listaFotosUsuario" [listaUsuarios]="listaUsuarios" (cerrarEvent)="grafico(false)"></app-grafico-barra>
  <app-grafico-torta *ngIf="tipoGrafico === 'TORTA'" [listaFotos]="listaFotosUsuario" [listaUsuarios]="listaUsuarios" (cerrarEvent)="grafico(false)"></app-grafico-torta>
</div>
