<ion-card *ngIf="usuario">
  <ion-card-header>
    <ion-card-subtitle>{{ usuario.email }}</ion-card-subtitle>
    <ion-card-title>{{ usuario.displayName }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h1>Saldo: {{ usuario.saldo | nvl }}</h1>
    <ion-list>
      <ion-item *ngFor="let credito of usuario.creditos">{{ credito.codigo.concat(': ').concat(credito.importe.toString()) }}</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-button expand="full" (click)="cargarCredito()">Cargar créditos</ion-button>
<ion-button color="light" expand="full" (click)="limpiarCredito()">Limpiar créditos</ion-button>