<ion-card *ngIf="usuario">
  <ion-card-header>
    <ion-card-subtitle>{{ usuario.email }}</ion-card-subtitle>
    <ion-card-title>{{ usuario.displayName }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h1>Saldo: {{ usuario.saldo | nvl }}</h1>
    <ion-label *ngFor="let credito of usuario.creditos" color="primary">{{ 'Importe carga: '.concat(credito.importe.toString()) }}</ion-label>
  </ion-card-content>
</ion-card>
<ion-button class="btnCarga" expand="full" (click)="cargarCredito()">Cargar créditos</ion-button>
<ion-button class="btnLimpia" color="light" expand="full" (click)="limpiarCredito()">Limpiar créditos</ion-button>