<ion-header [translucent]="true">
  <app-toolbar (abrirMenuEvent)="abrirMenu()"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-menu (salirEvent)="hacerLogout()"></app-menu>
  
  <div id="container">
    <!-- <app-selector-principal></app-selector-principal> -->

    <ion-button *ngIf="!alarmaActivada()" (click)="iniciarAlarma(1500, 3)" expand="full" color="success" class="btnAlarma">
        <ion-icon name="play"></ion-icon>
    </ion-button>
    <ion-button *ngIf="alarmaActivada()" (click)="pararAlarma()" expand="full" color="danger" class="btnAlarma">
        <ion-icon name="stop"></ion-icon>
    </ion-button>

    <!-- <div *ngIf="alarmaActivada()">
        <h3>Evento: {{ getEventoAlarma() }}</h3>
        <h6>X: {{ getX() | number: '1.0-0' }}</h6>
        <h6>Y: {{ getY() | number: '1.0-0' }}</h6>
        <h6>Z: {{ getZ() | number: '1.0-0' }}</h6>
    </div> -->

    <!-- The Modal -->
    <div *ngIf="alarmaActivada()" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <ion-input [(ngModel)]="clave" placeholder="Ingrese clave para desactivar" type="password"></ion-input>
        <ion-button (click)="pararAlarma()">Desactivar</ion-button>
      </div>

    </div>

    <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{ usuarioLogueado.uid }}</ion-card-subtitle>
        <ion-card-title>{{ usuarioLogueado.email }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        ID: {{ usuarioLogueado.id }} <br>
        Perfil: {{ usuarioLogueado.perfil }} <br>
        Sexo: {{ usuarioLogueado.sexo }}
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>
