<ion-button *ngIf="!alarmaActivada()" (click)="iniciarAlarma(1500, 3)" expand="full" color="success">
    <ion-icon name="play"></ion-icon>
</ion-button>
<ion-button *ngIf="alarmaActivada()" (click)="pararAlarma()" expand="full" color="danger">
    <ion-icon name="stop"></ion-icon>
</ion-button>

<div *ngIf="alarmaActivada()">
    <h3>Evento: {{ getEventoAlarma() }}</h3>
    <h6>X: {{ getX() | number: '1.0-0' }}</h6>
    <h6>Y: {{ getY() | number: '1.0-0' }}</h6>
    <h6>Z: {{ getZ() | number: '1.0-0' }}</h6>
</div>
